{
  "NuoDb": {
    "Server": "nuodb",
    "Database": "MyCo",
    "User": "test",
    "Password": "secret"
  },
  "PostgreSQL": {
    "Host": "postgresql",
    "Database": "MyCo",
    "User": "test"
  }
}
