# Configuration
profile.json
# Personal
schemaNotes.txt
schemaNotesNuoDB.txt
sqlServer.txt
# Targets
schema.pgsql
schema.mysql
schema.sqlite
schema.sqlite3
schema.db2
schema.oracle
schema.sqlserver
schema.nuodb
business.sqlite3
# OS Files
.DS_Store
# Temporary files
*~
*.swp
